@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.menu {
    display: flex;
    margin: 0 auto;
    padding: 5px;
    max-width: 1000px;
    justify-content: space-between;
}

.menu .links {
    display: flex;
    gap: 5px;
}

.menu .links a {
    padding: 20px;
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.1s;
}

.menu-icon {
    display: none;
}

.menu-logo img {
    filter: invert();
}

.content {
    display: flex;
	max-width: 1000px;
	height: calc(100vh - 100px);
	margin: 0 auto;
	overflow: hidden;
    flex-direction: column;
}

.content.center-this-mf {
    justify-content: center;
}

.content.text {
    overflow: scroll;
}
    
.content iframe {
    width: 75vw;
    max-width: 1000px;
    height: 70vh;
}

@media (max-width: 1000px) {
    .menu .links a {
        font-size: 12px;
    }
}

@media (max-width: 640px) {
    .menu .links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu .links.open {
        display: block !important;
        position: absolute;
        background: white;
        right: 0;
        top: 70px;
        border-radius: 15px;
    }

    .content iframe {
        width: 100vw;
        max-width: 1000px;
        height: 45vh;
    }
}

.menu .links a:hover {
    background-color: rgba(0,0,0,0.25);
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }

    .menu-icon img {
        filter: invert();
    }

    .menu-logo img {
        filter: none;
    }

    .menu .links a {
        color: white;
    }

    .menu .links.open {
        background-color: black;
    }
   
    .menu .links a:hover {
        background-color: rgba(255,255,255,0.25);
    }

    .content iframe {
        width: 100vw;
        height: 75vh;
    }
}

a, a:visited {
    color: rgb(128, 128, 128);
}
